[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
jedi = "*"
pyment = "*"
jupyterlab = "*"
isort = "*"
autoflake = "*"

[packages]
aiofiles = "*"
click = "*"
environs = "*"
fastapi = "*"
flake8 = "*"
loguru = "*"
pytest = "*"
requests = "*"
uvicorn = "*"
bert-serving-client = "*"
pandas = "*"
numpy = "*"
scipy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
